<div class="jumbotron">
    <h3>ASP.NET Web API 2</h3>
    <p class="lead">Implementation of following items</p>
    <div>
        <ul>
            <li>Entity Framework Code First</li>
            <li>UnityOfWork</li>
            <li>Repository Pattern</li>
            <li>Dependency Injection using Unity</li>
            <li>CORS Enabling</li>
            <li>OWIN Integration</li>
        </ul>
    </div>
    <p><a href="https://github.com/iamrks/Learning" target="_blank" class="btn btn-primary btn-lg">Source code &raquo;</a></p>
</div>